<mat-card appearance="outlined" class="p-3 mb-3">
    <div>
        <p>{{account.title}}</p>
        <img src="{{account.favIcon ? 'https://'+account.favIcon+'/favicon.ico' : '/icons/default-icon.svg'}}">
        <button mat-mini-fab [matMenuTriggerFor]="menu"><img src="/icons/select.svg"></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item matTooltip="Informações extras" [mat-menu-trigger-for]="accountInfo"><img src="/icons/info.svg" ></button>
            <mat-menu #accountInfo="matMenu">
                <span mat-menu-item>{{account.description ??  'Sem descrição'}}</span>
                <span mat-menu-item>{{account.email}}</span>
                <span mat-menu-item>Criado em:{{account.creationDate}}</span>
            </mat-menu>
            <button mat-menu-item matTooltip="Copiar senha" (click)="copyPasswordToClipBoard(account.password)"><img src="icons/copy-clipboard.svg"></button>
            <a [routerLink]="['/edit-account',account.id]" mat-menu-item matTooltip="Editar informações da conta"><img src="icons/edit.svg"></a>        
            <button mat-menu-item matTooltip="Deletar informações da conta" (click)="deleteAccount(account)"><img src="icons/delete.svg"></button>
        </mat-menu>
    </div>
</mat-card>