<h2 mat-dialog-title>{{data.info.title}}</h2>
<mat-dialog-content>
  <p>{{data.info.about}}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Fechar</button>
  @if(data.fileInput){
    <button mat-button cdkFocusInitial (click)="data.fileInput.click()">Importar backup</button>
  }@else if(data.exportDatabase){
    <button mat-button cdkFocusInitial (click)="this.databaseService.exportDatabase()">Exportar backup</button>
  }@else if(data.deleteDatabase){
    <button mat-button cdkFocusInitial (click)="this.databaseService.deleteDatabase()">Deletar todos os dados</button>
  }
  @else{
    @if(this.email){
      <button mat-button (click)="this.databaseService.patchUserEmail(this.email)">Modificar</button>
    }
    <mat-form-field>
      <input type="text" matInput value="{{data.currentEmail}}" [(ngModel)]="email" >
    </mat-form-field>
  }
</mat-dialog-actions>