<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <p>{{data?.about}}</p>
  @if(data.aboutApp){
    <ul>
      <li>Todas as senhas são criptogradas e salvas no indexedDb</li>
      <li>Crie e importe backups</li>
      <li>Pesquise, insira,edite e delete as senhas</li>
      <li>Inclui criador de senhas aleatórias</li>
      <li>Totalmente offline se instalado pelo browser</li>
    </ul>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Fechar</button>
</mat-dialog-actions>