<header>
    <h1 class="text-white fs-3 cyanFont text-center">Criador de senhas</h1>
</header>
    <form [formGroup]="creationForm" (submit)="createPassword()" class="d-flex flex-column justify-content-center">
        <mat-form-field appearance="fill">
                <label>Resultado</label>
                <textarea placeholder="Sua senha vai ser exibida aqui" [value]="passwordResult" matInput></textarea>
        </mat-form-field>
        <div class="d-flex flex-column justify-content-around align-items-center">
            <label>Comprimento da senha</label>
            <mat-slider min="1" max="30" step="1" discrete>
                    <input formControlName="length" matSliderThumb value="1">
            </mat-slider>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <p>Parâmetros extras:</p>
            <div class="d-flex flex-column">
                <mat-checkbox formControlName="upperCase">Maiúscula</mat-checkbox>
                <mat-checkbox formControlName="symbols">Símbolos</mat-checkbox>
                <mat-checkbox formControlName="numbers">Números</mat-checkbox>
            </div>
        </div>
        <div class="d-flex justify-content-around flex-column align-items-center">
            <button class="mb-3 mt-5" mat-flat-button type="submit">Criar</button>
            @if(passwordResult){
            <button class="scale-in-center" (click)="copyPasswordResult()" mat-flat-button type="button">Copiar resultado</button>
            }
        </div>
    </form>