<div>
    <mat-form-field>
        <img src="/icons/search.svg">
        <input class="text-center" placeholder="Pesquisar contas" matInput [(ngModel)]="searchInput" (input)="searchAccounts()" type="text">    
    </mat-form-field>
</div>
<section>
@if(searchInput.length > 0){
    @for(account of accountsFound; track account.id){\\
        <app-account-card [account]="account"></app-account-card>
    }
}@else{
    @for(account of accounts$ | async; track account.id){
        <app-account-card [account]="account"></app-account-card>
    }
}
</section>
