<div>
    <mat-form-field>
        <input class="text-center" placeholder="Pesquisar contas" matInput [(ngModel)]="searchInput" (input)="searchAccounts()" type="text">
    </mat-form-field>
</div>
<section class="d-flex justify-content-center flex-wrap flex-column flex-sm-row align-items-center">
@if(searchInput.length > 0){
    @for(account of accountsFound; track account.id){
        <app-account-card class="col-9 col-sm-5" [account]="account"></app-account-card>
    }
}@else{
    @for(account of accounts$ | async; track account.id){
        <app-account-card class="col-9 col-sm-5" [account]="account"></app-account-card>
    }
}
</section>
