<header >
    <p>Adicionar informações sobre senha</p>
</header>
<form autocomplete="off" class="d-flex flex-column">
    <mat-form-field>
        <label for="pswTitle">Url/domínio ou nome do aplicativo</label>
        <input type="text" required matInput>
    </mat-form-field>
    <mat-form-field>
        <label>Senha</label>
        <input type="password" required matInput>
    </mat-form-field>
    <mat-form-field>
        <label for="email">Email utilizado na criação da conta</label>
        <input type="email" required matInput>
    </mat-form-field>
    <div class="d-flex justify-content-around">
        <button class="bg-success" mat-fab extended type="submit">Salvar</button>
        <a class="bg-danger" routerLink="/psw-list" mat-fab extended>Cancelar</a>
    </div>
</form>
