<header>
    <p>Adicione informações sobre conta</p>
</header>
<form (ngSubmit)="storeAccount()" [formGroup]="accountForm" autocomplete="off" class="d-flex flex-column">
    <mat-form-field>
        <label>Título</label>
        <input formControlName="accountTitle" required matInput >
    </mat-form-field>
    <mat-form-field>
        <label>Senha</label>
        <input formControlName="password" required matInput>
    </mat-form-field>
    <mat-form-field>
        <label>Email utilizado na criação da conta</label>
        <input formControlName="email" type="text" required matInput>
    </mat-form-field>
    <mat-form-field>
        <label>Descrição(opcional)</label>
        <input formControlName="description" type="text" matInput>
    </mat-form-field>
    <mat-form-field>
        <label>Url do site/app(opcional)</label>
        <input placeholder="exemplo: google.com" formControlName="favIconUrl" type="text" matInput>
    </mat-form-field>
    <div class="d-flex justify-content-around">
        <button type="submit" class="bg-success" mat-fab extended>Salvar</button>
    </div>
</form>
